<section class="flex flex-col md:flex-row justify-between p-[5%] items-center">
  <div
    class="about-bg flex justify-center items-center md:w-[50%] mt-[10%] md:mt-0 w-full"
  >
    <h1 class="text-center font-semibold text-[#190C6A] text-2xl">
      About Our University
    </h1>
  </div>

  <div class="md:w-[40%] mr-[5%] mt-[5%] md:mt-0">
    <p class="text-sm font-semibold leading-6 text-[#190C6A] text-center">
      The Takoradi Technical University was established in September, 2016, as a
      result of the government’s policy to convert Takoradi Polytechnic, among
      five other Polytechnics, to the status of Technical University. In effect,
      since April 1954, Takoradi Technical University (formerly Takoradi
      Polytechnic) has existed as a Government Technical Institute under the
      Ghana Education Service of the Ministry of Education.
    </p>

    <br />

    <p class="text-sm font-semibold leading-6 text-[#190C6A] text-center">
      During that period, the institute offered programmes mainly at the Craft
      and Technician Certificate levels in commercial and technical subjects,
      awarding Royal Society of Arts (RSA) and City and Guilds of London, United
      Kingdom. However, in 1990, the Ghana Education Service took over the
      awards of the above-mentioned certificates.
    </p>
  </div>
</section>
