<footer class="bg-[#190C6A] px-[5%] md:py-[8%] py-[20%] relative">
  <img src="../assets/images/footer-logo.png" alt="Footer Logo" class="absolute top-[8%] left-[2%]" />

  <div class="flex flex-col md:flex-row text-white text-xs justify-center gap-[10%] ml-[6%]">
    <p class="w-[300px] mt-[10%] md:mt-0">
      We are committed to providing you quality technical tertiary education
      through full time courses in the field of engineering, commerce, science,
      technology, applied arts and applied social sciences.
    </p>

    <div class="md:-mt-[3%] mt-[10%]">
      <h2 class="text-[#DBBE27] mb-2 -ml-5">Digital Address</h2>
      <ul class="list-disc underline">
        <li class="hover:text-blue-500">
          <a href="tel:+233257710695">(+233)257710695 0506024700</a>
        </li>
        <li class="hover:text-blue-500">
          <a href="mailto:"
            >info&#64;ttu.edu.gh academicaffairs&#64;ttu.edu.gh</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
