<nav
  class="flex justify-between items-center px-[5%] py-[1%] bg-white sticky top-0 z-50"
>
  <a routerLink="/" class="w-[100px] cursor-pointer">
    <label for="Logo">
      <img src="../assets/images/ttu-logo.png" alt="TTU Logo" class="w-full" />
    </label>
  </a>

  <div class="flex items-center gap-5">
    <ul class="flex gap-5">
      <li class="font-bold text-sm text-[#190C6A] hover:underline">
        <a routerLink="/"> Home </a>
      </li>

      <li class="font-bold text-sm text-[#190C6A] hover:underline">
        <a href="https://ttu.edu.gh/news/" target="_blank"> News </a>
      </li>

      <li class="font-bold text-sm text-[#190C6A] hover:underline">
        <a routerLink="/contact"> Contact </a>
      </li>
    </ul>

    <a
      href="https://apply.ttuportal.com/Identity/Account/Login?ReturnUrl=%2F"
      class="bg-[#190C6A] text-[#FFC700] text-xs py-2 px-3 rounded-md hidden md:block"
       target="_blank"
      >Apply Now</a
    >
  </div>
</nav>
